<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
      </tr>
    </thead>
    <tbody>
      @if(productsCart.length==0){
      <span class="text-warning">No items in cart</span>
      } @for(product of productsCart;track $index){
      <tr>
        <th scope="row">{{ $index + 1 }}</th>
        <td>{{ product.name }}</td>
        <td>{{ product.price | currency }}</td>
        <td>{{ CalcQuantity(product) }}</td>
        <td>
          <button class="btn btn-danger" (click)="remove(product)">
            Delete
          </button>
        </td>
      </tr>
      }
      <tr>
        <td>Total Price</td>
        <td></td>
        <td></td>
        <td>{{ totalprice() | currency }}</td>
      </tr>
    </tbody>
  </table>
</div>
